/* STYLES modal */
.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.395);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  height: auto;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5em;
  background: #dddcde;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
header {
  font-weight: bold;
}
h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 0.5em 0;
}
h3 {
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em 0;
}
h6 {
  font-size: 1em;
  margin: 0.5em 0;
}
.datosTarjeta {
  font-size: 1.2em;
  margin: 1em 0;
}
.datosTarjeta p {
  font-size: 0.5em;
  margin: 0;
}
.claseTarjeta {
  text-align: center;
}
.fotoPerfil {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.modal-close {
  color: #333333;
  line-height: 50px;
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
}
.modal-close:hover {
  color: #b86500ec;
}
.modal-close-session {
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
  text-decoration: none;
  color: #333333;
  font-size: 1em;
}
.modal-close-session:hover {
  color: #ff0000;
}
/* Demo Styles */
a {
  color: inherit;
  text-decoration: none;
}
.containerPerfil {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

  
